@import "../../styles/vars";
@import "../../styles/mixins";

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.b-textfield {
  width      : $control-width;
  // height  : $control-height;
  position   : relative;

  &--float {
    .b-textfield__input {
      height : $control-height - 18px;
      padding: 14px 60px 0px 24px;
    }

    .b-textfield__label--focused {
      color: $grey-label;
      @include font(14px, 500);
    }
  }

  textarea {
    resize: none;
  }

  &--static {
    .b-textfield__input {
      padding: 14px 60px 14px 24px;

      &:not(textarea) {
        height: $control-height - 32px;

      }
    }

    .b-textfield__input-icon {
      padding-left : 60px;
      padding-right: 24px;
    }
  }

  &--error {
    .b-textfield__input {
      border-color    : $error-border;
      background-color: $error-background;
    }
  }

  &--fullwidth {
    width: 100%;
  }

  &__input {
    width        : calc(100% - 88px);
    color        : $black-border;
    border       : 2px solid transparent;
    outline      : none;
    background   : $grey-light;
    border-radius: $border-radius;

    @include font(16px);

    &[type="search"] {
      width       : calc(100% - 124px);
      box-sizing  : initial;
      background  : white;
      padding-left: 58px;

      &+.b-textfield__label {
        transform: translate(60px, 19px);

        &--focused {
          transform: translate(60px, 8px);
        }
      }
    }

    &--focused {
      background  : white;
      border-color: $black-border;
    }
  }

  &__label {
    position  : absolute;
    left      : 0;
    top       : 0;
    color     : $grey-text;
    transform : translate(25px, 19px);
    transition: 150ms;

    overflow     : hidden;
    max-width    : 75%;
    white-space  : nowrap;
    text-overflow: ellipsis;

    @include font(16px);

    &--focused {
      transform: translate(25px, 8px);
    }
  }

  &__icon {
    top     : 16px;
    right   : 24px;
    position: absolute;

    &--custom {
      top     : 16px;
      left    : 24px;
      position: absolute;
    }

    &:hover {
      cursor : pointer;
      opacity: 0.4;
    }
  }

  &__search {
    position: absolute;
    left    : 24px;
    top     : 16px;
  }
}
