$red      : #fa4c4c;
$red-dark : #d63535;
$red-light: #ffcaca;

$blue      : #2295f2;
$blue-dark : #0977d0;
$blue-back : #f2f9fe;
$blue-light: #eff0f6;

$light : #f7f7fc;
$green : #44ca7d;
$yellow: #fecd36;

$black       : #324552;
$black-border: #14142b;

$grey      : #a3aeb9;
$grey-text : #a0a3bd;
$grey-back : #d6d8e7;
$grey-light: #eff0f7;
$grey-label: #6e7191;

$border-radius : 12px;
$control-width : 338px;
$control-height: 57px;

$error-label     : #C30052;
$error-border    : #ED2E7E;
$error-background: #FFF3F8;

$spacer: 8px;

$status-new              : #2295F2;
$status-new-opacity      : #DCEFFE;
$status-rejected         : #DF5B5B;
$status-rejected-opacity : #FEDCDC;
$status-accepted         : #44CA7D;
$status-accepted-opacity : #C7EFD8;
$status-canceled         : #F6CA44;
$status-canceled-opacity : #FEF0DC;
$status-compteled        : #C8C8C8;
$status-compteled-opacity: #ECECEC;
